<style>
  #game {
    width: 1250;
    height: 570;
    margin: 0, auto;
  }
  .inputname {
    visibility: hidden;
    position: absolute;
    top: 180px;
    bottom: 50px;
    width: 1px;
    height: 1px;
    margin-left: 38%;
    text-align:center;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: -1px 2px 15px -1px #000;
  }
  .center {
    width: 100px;
    height: 30px;
    margin-left: 70px;
  }
</style>
<div id="game" class="game"></div>
